{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "jest/globals": true,
        "node": true,
        "es6": true
    },
    "plugins": [
        "react",
        "jest"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        "no-console": 1,
    },
    "globals": {
        "__DEV__": false,
        "fetchMock": true,
        "global": false,
        "Promise": false,
        "sinon": true
    }
}
