.poster {
    .title-and-authors {
        @extend .section;
    }

    .preview {
        @extend .section;

        iframe {
            min-height: 550px;
            width: 100%;
        }
    }

    .abstract {
        @extend .section;

        p {
            text-align: justify;
        }
    }
}
