// fix bulma padding-top (a bit too much)
.section {
    padding-top: 1rem;
}

// re-align FA icon in help text (form)
.help .fa {
    vertical-align: initial;
}

.main-content {
    flex: 1;
}

.content-wrapper {
    @extend .columns;
    @extend .is-centered;
}
