.poster-form {
    @extend .column;
    @extend .is-two-thirds;

    label,
    input,
    .select,
    textarea,
    .is-static,
    button {
        @extend .is-medium;
    }

    label:not(.file-label) {
        @extend .label;
    }

    input:not([type='file']) {
        @extend .input;
    }

    textarea {
        @extend .textarea;
    }

    &-field-url {
        @extend .field;
        @extend .has-addons;

        button {
            @extend .button;
            @extend .is-primary;
        }
    }
}
